*{
box-sizing:border-box; padding:0; margin:0;
}

.header-div{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #a6a6a6;
    z-index: 4;
    
}
.header-container{
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;    
}
.header-container-left{
    float: left;
}
.header-container-right{
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
}
.header-container-left-box{
    width: 1400px;
    height: 55px;
    float: left;
    display: flex;
    align-items: center;
}
.header-container-radio-bottom{
    height: 31px;
    margin: 1px 5px;
    padding-top: 6px;
}
.header-text-settings{
    float: left;
    padding: 16px 6px 16px 10px;
    margin-top: 1px;
    outline-offset: -2px;
    margin: 1px -6px 0px 0px;
}
.header-container-left-image{
    margin-top: -3px;
    max-width: none;
    width: 108px;
    height: 23px;
    display: block;
    margin: 0;

    /*Burada resimi koydum ancak sığdırmada bir sorun yaşadım neden öyle oldu bir fikrim yok */
}
.header-container-left-image img{
    width: 100%;
    height: 100%;
}

.header-radio-bottom{
    /*Burada çizgiyi genişliğini hallettim ancak aşşağıya alamadım çizgiyi */
    border: 2px solid;
    border-radius: 3px;
    height: 31px;
    margin: 1px 5px;
    padding-top: 1%;
    margin: 0px 5px 0px 15px;
}
.header-container-left-image-box{
    padding: 16px 6px 16px 10px;
    float: left;
    height: 100%;
    margin-top: 1px;
    width: 137px;
}
.header-container-bottom-box{
    width: 100%;
    height: 33px;
    float: left;
    padding: 6px 5%;
}
.header-container-bottom-box-small{
    padding: 0 10px;
    max-width: 1600px;
    margin: auto auto;
    font-size: 14px;
}
.header-bottom{
    width: 100%;
    height: 160px;
    background: #7014e8;
    background-image: url(../../../static/images/redesign/home-hero-bg.svg),linear-gradient(180deg,#7014e8 30.12%,#0e5ecf 192.47%);
    margin: 0;
    padding: 0;
    float: left;
}
.header-bottom-small{
    
}
.header-bottom-small-1{
height: 69px;
width: 1340px;
position: relative;
margin: auto;
}
.bottom-small-text-1{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}
.header-bottom-small-2{
width: 1340px;
height: 27px;
position: relative;
margin: auto;
text-align:center;
}
.big-container{
    width: 100%;
    height: 4228px;
    float: left;
}
.container-v1{
    width: 100%;
    height: 491.25px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.container-v2{
    width: 100%;
    height: 471.5px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.container-v3{
    width: 100%;
    height: 458.5px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.container-v4{
    width: 100%;
    height: 431.31px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.container-v5{
    width: 100%;
    height: 431.31px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.container-v6{
    width: 100%;
    height: 559.5px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.container-v7{
    width: 100%;
    height: 522px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.container-v8{
    width: 100%;
    height: 431.31px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.container-v9{
    width: 100%;
    height: 431.31px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.black-text{
    color: black;
}
.white-text{
    color: white;
}
.text-size-13px{
    font-size: 13px;
}
.text-size-14px{
    font-size: 14px;
}
.text-size-15px{
    font-size: 15px;
}
.text-size-16px{
    font-size: 16px;
}
.text-size-17px{
    font-size: 17px;
}
.text-size-18px{
    font-size: 18px;
}
.text-size-19px{
    font-size: 19px;
}
.text-size-20px{
    font-size: 20px;
}
.text-size-21px{
    font-size: 21px;
}
.text-size-46px{
    font-size: 46px;
}
.text-settings{
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}
