*{
box-sizing:border-box; padding:0; margin:0;
}

.header-div{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #a6a6a6;
    z-index: 4;
    
}
.header-container{
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;    
}
.header-container-left{
    float: left;
}
.header-container-right{
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
}
.header-container-left-box{
    width: 1400px;
    height: 55px;
    float: left;
    display: flex;
    align-items: center;
}
.header-container-radio-bottom{
    height: 31px;
    margin: 1px 5px;
    padding-top: 6px;
}
.header-text-settings{
    float: left;
    padding: 16px 6px 16px 10px;
    margin-top: 1px;
    outline-offset: -2px;
    margin: 1px -6px 0px 0px;
}
.header-container-left-image{
    margin-top: -3px;
    max-width: none;
    width: 108px;
    height: 23px;
    display: block;
    margin: 0;

    /*Burada resimi koydum ancak sığdırmada bir sorun yaşadım neden öyle oldu bir fikrim yok */
}
.header-container-left-image img{
    width: 100%;
    height: 100%;
}

.header-radio-bottom{
    /*Burada çizgiyi genişliğini hallettim ancak aşşağıya alamadım çizgiyi */
    border: 2px solid;
    border-radius: 3px;
    height: 31px;
    margin: 1px 5px;
    padding-top: 1%;
    margin: 0px 5px 0px 15px;
}
.header-container-left-image-box{
    padding: 16px 6px 16px 10px;
    float: left;
    height: 100%;
    margin-top: 1px;
    width: 137px;
}
.header-container-bottom-box{
    width: 100%;
    height: 33px;
    float: left;
    padding: 6px 5%;
}
.header-container-bottom-box-small{
    padding: 0 10px;
    max-width: 1600px;
    margin: auto auto;
    font-size: 14px;
}
.header-bottom{
    width: 100%;
    height: 160px;
    background: #7014e8;
    background-image: url(../../../static/images/redesign/home-hero-bg.svg),linear-gradient(180deg,#7014e8 30.12%,#0e5ecf 192.47%);
    margin: 0;
    padding: 0;
    float: left;
}
.header-bottom-small{
    
}
.header-bottom-small-1{
height: 69px;
width: 1340px;
position: relative;
margin: auto;
}
.bottom-small-text-1{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}
.header-bottom-small-2{
width: 1340px;
height: 27px;
position: relative;
margin: auto;
text-align:center;
}
.big-container{
    width: 100%;
    height: 4228px;
    float: left;
}
.container-v1{
    max-width: 1380px;
    height: 491.25px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}
.container-v1-big-box{
    max-width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 60px 0px;
}
.container-v1-big-box-1{
    float: left;
    width: 50%;
    height: 100%;
}
.container-v1-big-box-2{
    float: left;
    width: 50%;
    height: 100%;
    padding: 0px 10px;
    margin: 0px 0px 0px 0px;
    /* marginin sonunda ki yere 113px vermem gerekiyor ancak yazıyı ortalayamadığım
    için 113 px i verince kayıyor vermiyorum şuan o yüzden */
}
.conteiner-v1-big-box-2-text-settings{
    margin: 0px 0px 20px;
}
.container-v2{
    max-width: 1380px;
    height: 491.25px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
}
.container-v2-big-box{
    max-width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 60px 0px;
}
.container-v2-big-box-1{
    float: left;
    width: 50%;
    height: 100%;
   
}
.container-v2-big-box-2{
    float: left;
    width: 660px;
    height: 311.31px;
    background-image: url("dotnet-4.png");
}
.conteiner-v2-big-box-2-text-settings{
    margin: 0px 0px 20px;
}
.container-v3{
    max-width: 1380px;
    height: 491.25px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}
.container-v3-big-box{
    max-width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 60px 0px;
}
.container-v3-big-box-1{
    float: left;
    width: 50%;
    height: 100%;
}
.container-v3-big-box-2{
    float: left;
    width: 50%;
    height: 100%;
}
.conteiner-v3-big-box-2-text-settings{
    margin: 0px 0px 20px;
}
.container-v4{
    max-width: 1380px;
    height: 491.25px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
}
.container-v4-big-box{
    max-width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 60px 0px;
}
.container-v4-big-box-1{
    float: left;
    width: 50%;
    height: 100%;
}
.container-v4-big-box-2{
    float: left;
    width: 660px;
    height: 311.31px;
    background-image: url("dotnet-4.png");
}
.conteiner-v4-big-box-2-text-settings{
    margin: 0px 0px 20px;
}
.container-v5{
    max-width: 1380px;
    height: 491.25px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}
.container-v5-big-box{
    max-width: 100%; 
    height: 100%;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 60px 0px;
}
.container-v5-big-box-1{
    float: left;
    width: 50%;
    height: 100%;
}
.container-v5-big-box-2{
    float: left;
    width: 50%;
    height: 100%;
}
.conteiner-v5-big-box-2-text-settings{
    margin: 0px 0px 20px;
}
.container-v6{
    max-width: 1380px;
    height: 491.25px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
}
.container-v6-big-box{
    max-width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 60px 0px;
}
.container-v6-big-box-1{
    float: left;
    width: 50%;
    height: 100%;
}
.container-v6-big-box-2{
    float: left;
    width: 660px;
    height: 311.31px;
    background-image: url("dotnet-4.png");
}
.conteiner-v6-big-box-2-text-settings{
    margin: 0px 0px 20px;
}
.container-v7{
    max-width: 1380px;
    height: 491.25px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}
.container-v7-big-box{
    max-width: 100%;   
    height: 100%;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 60px 0px;
}
.container-v7-big-box-1{
    float: left;
    width: 50%;
    height: 100%;
}
.container-v7-big-box-2{
    float: left;
    width: 50%;
    height: 100%;
}
.conteiner-v7-big-box-2-text-settings{
    margin: 0px 0px 20px;
}
.container-v8{
    max-width: 1380px;
    height: 491.25px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f0f0f0;
}
.container-v8-big-box{
    max-width: 100%; 
    height: 100%;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 60px 0px;
}
.container-v8-big-box-1{
    float: left;
    width: 50%;
    height: 100%;
}
.container-v8-big-box-2{
    float: left;
    width: 660px;
    height: 311.31px;
    background-image: url("dotnet-4.png");
}
.conteiner-v8-big-box-2-text-settings{
    margin: 0px 0px 20px;
}
.container-v9{
    max-width: 1380px;
    height: 491.25px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}
.container-v9-big-box{
    max-width: 100%;  
    height: 100%;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding: 60px 0px;
}
.container-v9-big-box-1{
    float: left;
    width: 50%;
    height: 100%;
}
.container-v9-big-box-2{
    float: left;
    width: 50%;
    height: 100%;
}
.conteiner-v9-big-box-2-text-settings{
    margin: 0px 0px 20px;
}


.black-text{
    color: black;
}
.white-text{
    color: white;
}
.gray-text{
    color: rgba(0,0,0,.6);
}
.text-size-12px{
    font-size: 12px;
}
.text-size-13px{
    font-size: 13px;
}
.text-size-14px{
    font-size: 14px;
}
.text-size-15px{
    font-size: 15px;
}
.text-size-16px{
    font-size: 16px;
}
.text-size-17px{
    font-size: 17px;
}
.text-size-18px{
    font-size: 18px;
}
.text-size-19px{
    font-size: 19px;
}
.text-size-20px{
    font-size: 20px;
}
.text-size-21px{
    font-size: 21px;
}
.text-size-24px{
    font-size: 24px;
}
.text-size-32px{
    font-size: 32px;
}
.text-size-46px{
    font-size: 46px;
}
.text-settings{
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}
.text-link-settings{
    text-decoration: none;
    color: #262626;
}
.container-v2-big-box-1-text{
    margin: 0px 0px 8px;
    font-size: 32px;
    color: #212529;
}
.container-v2-big-box-1-text-2{
    margin: 0px 0px 20px;
    font-size: 15px;
    color: #212529;
}
.text-settings-container-v2-big-box-2-text-3{

}
.text-settings-header{
    padding-left: 27px;
}
.footer-container{
    width: 100%;
    height: 218px;
    float: left;
    background: #512bd4 !important;
    color: #fff;
}
.footer-container-box{
    width: 100%;
    height: 98px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.footer-container-box-1{
    float: left;
    width: 680px;
    height: 82.5px;
    margin:  0px 0px 0px 113.328px;
    padding: 0px 90px;
    
}
.footer-container-box-2{
    float: left;
    width: 340px;
    height: 98px;
    margin-top: 0 !important;
}
.footer-container-box-2-text-settings-1{
    margin-top: 0;
    margin-bottom: 1rem;
}
.footer-container-box-2-text-settings-2{
    cursor: pointer;
    color: #512bd4;
    background-color: #fff;
    border-color: transparent;
    font-family: "Segoe UI Semibold","Segoe UI",Helvetica,Arial,sans-serif;
    display: inline-block;
    width: auto;
    text-decoration: none;
    white-space: normal;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;


}
.footer-container-box-1-text-settings{
    margin: 0px 0px 8px;
}
.footer-container-box-1-text-settings-1{
    margin: 0px 0px 16px;
}
.footer-navigation{
    width: 100%;
    height: 75.5px;
    float: left;
}
.footer-navigation-box{
    padding: 20px 5%;
    display: flex;
    align-items: center;
    background: #fff;
}
.footer-navigation-box-social{
    width: 46px;
    height: 35.5px;
    list-style: none;
    float: left;
    margin:  0px 0px 0px 12px;
    padding-top: 5px;
}
.footer-last{
    background-color: #f2f2f2;
    width: 100%;
    height: 72px;
    float: left;
    display: flex;
}
.footer-last-left{
    flex-grow: .5;
    margin: auto;
    float: left;
    height: 24px;
    width: 706.09px;
}
.footer-last-right{
    flex-grow: .5;
    box-sizing: border-box;
    width: 1196.91px;
    height: 72px;
    
}
.footer-last-left-button{
    margin-top: 3px;
}
.footer-last-right-box{
    background: #f2f2f2;
    margin: 0 auto;
    max-width: calc(1600px + 10%);
    padding: 30px 5% 16px;
}
.footer-last-right-box-li{
    float: left;
    list-style: none;
    width: 131.3px;
    height: 20px;
}